<section>
    <h2>Contact</h2>
    <div class="content">
        <div class="contact-line">
            <i class="fas fa-envelope"></i>
            <a href="mailto:contact@collin-bzh.net">contact@collin-bzh.net</a>
        </div>
        <div class="contact-line">
            <i class="fab fa-github"></i>
            <a href="https://github.com/Lukwos">GitHub</a>
        </div>
        <div class="contact-line">
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/lukwos/">LinkedIn</a>
        </div>
    </div>
</section>